.content_scene_cat {
  border-top: 5px solid #f8b302;
  color: #d7d7d7;
  line-height: 19px;
  margin: 0 0 26px 0; }
  .content_scene_cat .content_scene_cat_bg {
    padding: 18px 10px 10px 42px;
    background-color: #009999 !important; }
    @media (max-width: 1199px) {
      .content_scene_cat .content_scene_cat_bg {
        padding: 10px 10px 10px 15px; } }
  .content_scene_cat span.category-name {
    font: 600 42px/51px "Open Sans", sans-serif;
    color: white;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
  	color: white;
    margin-bottom: 0; }
  .content_scene_cat a {
    color: white; }
    .content_scene_cat a:hover {
      text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #777777; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #777777; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #515151; }

.subcategories {
  border-top: 1px solid #d6d4d4;
  overflow: hidden;
  padding: 15px 0 0px 0; }
  .subcategories p.subcategory-heading {
    font-weight: bold;
    color: #333333;
    margin: 0 0 15px 0; }
  .subcategories ul {
    margin: 0;
    padding: 0;}
    .subcategories ul li {
      float: left;
      list-style: none;
      height: 202px; 
      margin: 0 16px 13px 0;
      text-align: center;
      width: 145px;
  	}
      .subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        .subcategories ul li .subcategory-image a {
          display: block;
          padding: 9px;
          border: 1px solid #d6d4d4; }
          .subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top; }
      .subcategories ul li .subcategory-name {
        font: 600 18px/22px "Open Sans", sans-serif;
        color: #555454;
        text-transform: uppercase; }
        .subcategories ul li .subcategory-name:hover {
          color: #515151; }
      .subcategories ul li .cat_desc {
        display: none; }
      .subcategories ul li:hover .subcategory-image a {
        border: 5px solid #333333;
        padding: 5px; }


.breadcrumb {
  border-radius: 3px;
  border: 1px solid #d6d4d4;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-top: 8px;
  min-height: 6px;
  overflow: hidden;
  padding: 0 11px;
  position: relative;
  vertical-align: top;
  z-index: 9;
  
  height: 20px}
  .breadcrumb .navigation-pipe {
    width: 18px;
    display: inline-block;
    vertical-align: top;
    text-indent: -5000px; }
  .breadcrumb a {
    display: inline-block;
    background: white;
    padding: 0 15px 0 22px;
    margin-left: -26px;
    position: relative;
    vertical-align: top;
    z-index: 1;
    color: #333333; }
    .breadcrumb a.home {
      font-size: 17px;
      color: #777777;
      width: 38px;
      text-align: center;
      padding: 0;
      margin: 0 0 0 -10px;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      z-index: 3;
      line-height: 22px;
      display: inline-block;
      vertical-align: top;
      height: 25px; }
      .breadcrumb a.home i {
        vertical-align: -1px; }
      .breadcrumb a.home:before {
        border: none; }
    .breadcrumb a:after {
      display: inline-block;
      content: "";
      position: absolute;
      right: -10px;
      top: 1px;
      width: 18px;
      height: 18px;
      background: white;
      border-right: 1px solid #d6d4d4;
      border-top: 1px solid #d6d4d4;
      border-radius: 2px;
      text-indent: -5000px;
      vertical-align: top;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .breadcrumb a:before {
      display: inline-block;
      content: ".";
      position: absolute;
      left: -10px;
      top: 3px;
      width: 18px;
      height: 18px;
      background: transparent;
      border-right: 1px solid #d6d4d4;
      border-top: 1px solid #d6d4d4;
      border-radius: 2px;
      text-indent: -5000px;
      vertical-align: top;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .breadcrumb a:hover {
      color: #777777; }










@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}

}

.contenedorPartners{
  overflow: hidden;
  position: relative;
}
.view-port {
  overflow: hidden;
  position: relative;
}
.slider-container {
  position: relative;
  margin: 0;
  padding: 0;
}
.items {
  position: absolute;
}